.w-80 {
    width: 80%;
}

.aa {
    font-family: Lexend, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0;
    text-align: left;
    text-transform: capitalize;
    width: 75%;
}
.hollow-text {
    -webkit-text-stroke: 1px #1b1c57;
    -webkit-text-fill-color: transparent;
}